.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;
}
.to + .to,
.from + .from {
    margin-top: -10px;
}

.chatWindow{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 90%;
    height: 70%;
    overflow: scroll;
    background-color: #ffffff;
}
.chatTextEntry{
    width: 90%;
    margin: auto;
}
#textEntry{
    overflow:hidden;
    resize:none;
    width: 100%;
    color: #000000;
}

input.break {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}